* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #e5e5e5;
  margin: 0;
}

#header {
  background-image: url(images/header-shapes\ mobile.png);
  background-size: cover;
  background-color: #fff;
  min-width: 100vw;
  padding: 3rem 1.5rem 7.5rem 1.5rem;
  border-bottom-left-radius: 5rem;
  background-repeat: no-repeat;
  background-position: 0 3.125rem;
  overflow: hidden;
}

#headerarticle h1 {
  font-weight: 900;
  font-size: 2.8125rem;
  line-height: 3.25rem;
  color: #172b4d;
}

#headertoolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

#headermenubtn {
  background-color: transparent;
  border: none;
}

#headermenubtn:hover {
  cursor: pointer;
}

#headerarticle p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

#headerarticle .connect {
  color: #7f8cff;
}

.headericons {
  display: flex;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.headericons li {
  margin-right: 1.1875rem;
}

#headerlogo {
  color: #6070ff;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

#headerlogo a {
  text-decoration: none;
  color: #6070ff;
}

@media screen and (min-width: 375px) {
  .desktop {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 5em;
    background-color: #fff;
    padding: 0.625em;
  }

  .grid-item1 {
    background-color: rgb(255, 255, 255, 1);
    text-align: center;
    padding: 1.25em 0;
    font-size: 0.9375em;
    border-radius: 1em;
  }

  .body1 {
    text-align: left;
    padding: 1.25em;
  }

  .tonic {
    display: flex;
    flex-direction: column;
  }

  .stories {
    display: flex;
    flex-direction: column;
  }

  .tonic p {
    color: #344563;
    font-weight: 500;
  }

  .stories p {
    color: #344563;
    font-weight: 500;
  }

  .linkss li {
    color: #6070ff;
    display: inline-block;
    border: 1px solid #ebebff;
    background-color: #ebebff;
    border-radius: 0.5rem;
    padding: 0.375em;
    margin: 0 0.31em 0 0;
    font-size: 0.8125em;
    letter-spacing: 0.03em;
    font-weight: 500;
  }

  button {
    color: #396df2;
    background-color: #fff;
    padding: 1em;
    font-size: 1.0625em;
    font-style: normal;
    font-weight: 500;
    border: 1px solid #7f8cff;
    border-radius: 1em;
    margin: 0.9375em 0;
  }

  button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #6070ff;
    box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
    border-radius: 0.5em;
  }

  button:active {
    color: #fff;
    background-color: #2230d2;
    border-radius: 0.5em;
  }

  i:hover {
    cursor: pointer;
  }

  .canopy {
    font-size: 0.8125em;
    font-weight: 600;
    color: rgba(52, 69, 99, 1);
    font-style: normal;
    margin-right: 1.785em;
    list-style-type: none;
  }

  .backend {
    color: rgba(122, 134, 154, 1);
    margin-right: 1.875em;
  }

  .year {
    color: rgba(122, 134, 154, 1);
  }

  .flexy {
    display: flex;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    padding: 0 0.94em 0 0;
    align-items: baseline;
  }

  .last {
    list-style-type: none;
    font-size: 1.25em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
  }

  .stretch {
    width: 100%;
    background-color: #f7f7f9;
    padding: 0 0.625rem;
    border-radius: 0.5em;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
  }

  .stretch span {
    margin-left: 16px;
    font-size: 15px;
    color: #253858;
    font-weight: 500;
    line-height: 20px;
  }

  .about {
    background-color: #fff;
    margin-top: 5rem;
    border-top-right-radius: 5em;
    padding-bottom: 9.375rem;
  }

  .works {
    background-color: #e5e5e5;
    width: 100%;
  }

  .image1 {
    align-self: center;
  }

  .new li {
    list-style-type: none;
  }

  .fa {
    float: right;
  }

  .rule {
    border: 1px solid #dfe1e6;
    margin: 1.25em 0;
  }

  .list {
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
  }

  main {
    margin-top: 6.25rem;
  }

  .main button {
    width: 9.6875rem;
    border-radius: 0.5rem;
    padding: 0.75rem 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.125rem;
    color: #172b4d;
  }

  .main {
    display: flex;
    flex-direction: column;
    padding: 5em 1.5em 0;
  }

  .main .caps {
    color: #7f8cff;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 1.625rem;
  }

  .main p {
    font-size: 1em;
    color: #344563;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0;
    text-align: left;
  }

  .icons li {
    list-style-type: none;
  }

  .icons {
    display: flex;
  }

  .spaceup {
    margin-top: 1.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .icons img {
    width: 1.25em;
    height: 1.19em;
    margin-right: 1.25em;
  }
}

@media screen and (min-width: 768px) {
  #headermenubtn {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .desktop a {
    text-decoration: none;
    color: #344563;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }

  .desktop li {
    list-style-type: none;
  }

  .desktop a:hover {
    cursor: pointer;
  }

  #header {
    background-image: url(images/header-shapes\ desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
  }

  #headerarticle {
    display: flex;
    flex-direction: column;
  }

  #headertoolbar {
    margin-top: -1.5625rem;
  }
}
